__pycache__/
venv
.vscode
.DS_Store
.idea/
config/
downloads/
temp/
.python-version
modules/
extensions/

# Personal/Temporary files and logs in workspace root
/OrpheusDL-master/
/*.csv
/*.log
/*_log.txt
/*.json
/ground_truth/
